<!DOCTYPE html>
<html>

<head>
  <title>IOT Controller</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>

<body>
  {{{body}}}
</body>


</html>
